.services .box {
    background-color: var(--primaryBackground);
    padding: 35px;
  }
  .services i {
    color: var(--primaryColor);
  }
  .services h3 {
    margin-top: 20px;
  }
 
  .grid3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  @media screen and (max-width: 768px) {
    .grid3{
      
      grid-template-columns: repeat(2, 1fr);
      
    }
  }