.contact {
    margin: 20px 0;
  }
  .contact .right,
  .contact .left {
    padding: 20px;
   
  }
  .contact .right{
    text-align: start;
  }
  .contact .flex input:nth-child(1) {
    margin-right: 10px;
    
  }
  .contact button,
  .contact textarea,
  .contact input {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    margin: 10px 0;
    border-radius: 5px;
  }